.app-button {
  width: 280px;
  height: 48px;
  border: 0;
  border-radius: 2px;
  cursor: pointer;
  &.__no-width {
    background-color: Transparent;
    width: auto;
    height: auto;
    > p {
      // color: $main;
      font-size: 14px;
    }
    > i {
      // color: $main;
      padding-right: 10px;
    }
  }
  &.__fill {
    // background-color: $main;
    > p {
      // color: $white;
      font-size: 14px;
    }
    > i {
      // color: $white;
      padding-right: 10px;
    }
  }
  &.__outline {
    background-color: Transparent;
    // border: 1px solid $main;
    > p {
      // color: $main;
      font-size: 14px;
    }
    > i {
      // color: $main;
      padding-right: 10px;
    }
  }
  &.__cancel {
    background-color: Transparent;
    // border: 1px solid $warning;
    > p {
      // color: $warning;
      font-size: 14px;
    }
    > i {
      // color: $warning;
      padding-right: 10px;
    }
  }
  &.disabled {
    // background-color: $unactive-main;
    cursor: auto;
  }
}
