.container {
  &-app {
    // background-color: map-get($colors, 'soft-main');
  }
  &-main {
    overflow: auto;
    margin: 0px auto;
    position: relative;
    flex-grow: 1;
  }
  &-auth {
    width: 488px;
    height: 592px;
    box-shadow: -4px 0px 8px rgba(0, 0, 0, 0.08);
    // background-color: map-get($colors, 'white');
  }
  &-router {
    width: 100%;
  }
}
h6 {
  text-align: center;
  // color: map-get($colors, 'main');
}
.container-form {
  width: 100%;
}
form {
  padding-top: 20px;
  padding-left: 52px;
  padding-right: 52px;
  padding-bottom: 80px;
}

button {
  align-self: center;
  margin-top: 55px;
}
