@import '~@angular/material/theming';
@include mat-core();

$karumi-primary: mat-palette($mat-indigo);
$karumi-accent: mat-palette($mat-pink, A200, A100, A400);
$karumi-warn: mat-palette($mat-red);

$karumi-theme: mat-light-theme($karumi-primary, $karumi-primary, $karumi-warn);

@include angular-material-theme($karumi-theme);
